{% extends 'cmsapp/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Get Your Password</h1>
            <form action="" method="post">
                {% csrf_token %}
                {% if msz %}
                <div class="alert">{{msz}}</div>
                {% endif%}
                <div class="form-group mb-3">
                    <label >Current password</label>
                    <input type="password" class="form-control" name="cpwd">
                </div>
                <div class="form-group mb-3">
                    <label >New Password</label>
                    <input type="password" class="form-control" name="npwd" required id="pas" onkeyup="check_pass()">
                </div>
                <div class="form-group mb-3">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" name="cpwd"  required id="cpas"  onkeyup="check_pass()">
                </div>
                <div class="form-group mb-3">
                    <input type="submit" class="btn btn-warning" value="Change Password" id="sbbtn">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p=$("#pas").val();
        let cp=$("#cpas").val();
        
        if (p==cp){
            $("#pas").css("border", "1px solid green");
            $("#cpas").css("border", "1px solid green");
            $("#sbbtn").removeAttr("disabled");
        }else{
            $("#pas").css("border", "1px solid red");
            $("#cpas").css("border", "1px solid red");
            $("#sbbtn").attr("disabled","disabled" );
        }
     }
</script>
{% endblock %}