{% extends 'cmsapp/base.html' %}
{% block content %}
{% load static %}

<div class="card " style="width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'cmsapp/img/img15.jpg'%}" alt="..." height="100%" width="100%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <p class="card-text">Welcome to our CMS project! We are a dedicated team of developers and designers passionate
          about simplifying the process of managing and organizing digital content. Our goal is to provide a robust and
          user-friendly CMS solution that empowers businesses and individuals to effortlessly create, publish, and
          maintain their online presence. <br>

          At our core, we believe that managing content should be an intuitive and enjoyable experience. We understand
          the challenges faced by content creators and website administrators in today's fast-paced digital world.
          That's why we have meticulously crafted our CMS to streamline content management workflows, enhance
          collaboration, and optimize overall efficiency. <br>

          Our team brings together a diverse range of expertise, combining technical prowess with a deep understanding
          of user needs. With years of experience in web development and design, we have honed our skills to deliver a
          CMS that not only meets industry standards but also exceeds expectations. We continually strive for excellence
          and stay up-to-date with the latest trends and technologies to ensure our CMS remains at the forefront of
          innovation. <br>

          <b>Key Features of Our CMS:</b>

          1. Intuitive Content Creation: Our CMS offers a user-friendly interface that simplifies the process of
          creating and editing content. Whether you're a seasoned professional or a novice, you'll find our CMS easy to
          navigate and use. <br>

          2. Flexible Publishing Options: We understand the importance of flexibility when it comes to content
          publishing. Our CMS provides various publishing options, including scheduling, version control, and
          multi-channel distribution, to cater to your specific requirements.

          3. Customizable Templates: Stand out from the crowd with our extensive library of customizable templates.
          Tailor your website's design to match your brand identity and create a unique online presence. <br>

          4. Advanced Collaboration Tools: Collaboration is key to successful content management. Our CMS offers robust
          collaboration features, allowing multiple users to work together seamlessly, assign tasks, and track progress.
          <br>

          5. Powerful Analytics: Gain valuable insights into your website's performance with our built-in analytics
          tools. Track user behavior, monitor engagement, and make data-driven decisions to optimize your content
          strategy. <br>

          6. We are committed to providing exceptional customer support and continually improving our CMS based on user
          feedback. Your satisfaction is our top priority, and we are here to assist you every step of the way. <br>

          Join us on this exciting journey of simplifying content management and unlocking the full potential of your
          digital presence with our feature-rich CMS.
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}